.overlay-image
{
    height: 400px;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

.carousel-container
{
    padding-bottom: 50px;
    position: absolute;
    margin-top:-170px;
    margin-left: 10%;
}
